<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ecms</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />
    <link rel="stylesheet" href="/public/css/index.css"></link>
</head>

<body>
    <header class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Home</a></li>
                            <li>
                                <a href="#">文档/Document</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="#">安装</a></li>
                                        <li><a href="#">周边</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">账号/account</a>
                                <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="/admin/login">登录</a></li>
                                            <li><a href="/admin/logout">退出</a></li>
                                        </ul>
                                    </div>
                            </li>
                        </ul>
                
                    </div>
    </header>




